*.d
*.o
*.swo
*.swp
install/
libgiapi*
.cproject
apr-util/
apr/
external/activemq-cpp
external/curlpp
external/libcurl
external/log4cxx
src/examples/any-command
src/examples/apply-command
src/examples/epicssubscription
src/examples/fileevents
src/examples/gpiobssimulator
src/examples/logging
src/examples/obsevent
src/examples/pcsupdater
src/examples/seq-command
src/examples/services
src/examples/status
src/examples/tcsApplyOffset
src/examples/tcsApplyOffsetCallback
src/examples/tcscontext
src/examples/observe-simulator
src/examples/epicsget
