*.d
*.o
*.swo
*.swp
install/
libgiapi*
.cproject
activemq-cpp-library-3.4.1/
external/activemq-cpp/
apache-log4cxx*.*
external/curlpp-0.7.3/
external/apr-1.3.12/
external/apr-util-1.3.10/
external/apr-util/
external/apr/
external/automake-1.16.1-95.1.noarch.rpm
external/curlpp/
external/libcurl/
external/log4cxx/

